.this {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: black;
    color: white;   


}
.that {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f5f5f5;
}