.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--primary);
    margin-top: 20px;
    width: 250px;
    height: 600px;
    overflow: hidden; 
  }
  
  .movie .TitleOfMovie {
    color: var(--text);
    font-size: 20px;
    margin-bottom: 10px;
    width: 200px;
    height: 60px;
    overflow-wrap: break-word;
    overflow: hidden; 
  }
  
  .moviePoster {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .movie .rating {
    color: var(--text);
    font-size: 14px; 
    text-align: center;
    margin-bottom: 10px;
  }
  
  .buttonDetails {
    width: 100px;
    margin-bottom: 10px;
  }
  
  .buttonDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--primary);
    font-family: var(--font);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .buttonDetails:hover {
    background-color: var(--text);
    transform: scale(1.05);
  }

  .movie .rating-icon-container {
    display: flex;
    align-items: center;
  }

  .movie .rating-icons {
    display: flex;
    gap: 5px; 
    max-width: 200px;
    flex-shrink: 0;
}
.movie .rating-icon {
    width: 30px;
    height: auto;
}
