/* Ensure the modal covers the entire viewport */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000; /* Ensure the modal is on top of everything */
}

/* Ensure the modal content is centered and above the overlay */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  z-index: 10001; /* Ensure the modal content is on top of the overlay */
}

/* Style for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Disable pointer events for inactive button */
.buttonTrailer.inactive {
  background-color: gray;
  cursor: not-allowed;
}

.buttonTrailer.inactive:hover {
  background-color: gray; /* Ensure the background color does not change on hover */
  transform: none; /* Ensure there is no transform effect on hover */
}

/* Other existing styles */
.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--primary);
  margin-top: 20px;
  width: 250px;
  height: 600px;
  overflow: hidden;
}

.movie .TitleOfMovie {
  color: var(--text);
  font-size: 18px;
  margin-bottom: 10px;
  width: 200px;
  height: 60px; /* Adjust height to fit two lines of text */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
}

.moviePoster {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.buttonTrailer,
.buttonDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: var(--font);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.buttonTrailer:hover:not(.inactive),
.buttonDetails:hover {
  background-color: var(--text);
  transform: scale(1.05);
}

.movie .rating {
  color: var(--text);
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.movie .rating-icon-container {
  display: flex;
  align-items: center;
}

.movie .rating-icons {
  display: flex;
  gap: 5px;
  max-width: 200px;
  flex-shrink: 0;
}

.movie .rating-icon {
  width: 30px;
  height: auto;
}

.movie .no-rating {
  color: var(--text);
  font-size: 12px; 
  text-align: center;
  margin-bottom: 10px;
}
