.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--primary);
  margin-top: 20px;
  width: 250px;
  height: auto;
  overflow: hidden;
}

.movie .TitleOfMovie {
  color: var(--text);
  font-size: 18px;
  margin-bottom: 10px;
  width: 200px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.moviePoster {
  width: 100%; 
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.buttonTrailer,
.buttonDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: var(--font);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.buttonTrailer:hover:not(.inactive),
.buttonDetails:hover {
  background-color: var(--text);
  transform: scale(1.05);
}

.rating-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.rating-label {
  color: var(--text);
  font-size: 18px;
  margin-bottom: 5px;
}

.rating-icons {
  display: flex;
  gap: 5px;
  max-width: 200px;
  flex-wrap: wrap;
}

.rating-icon {
  width: 30px;
  height: auto;
}

.movie .no-rating {
  font-size: 12px;
  color: var(--text)
}