.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--primary);  
}

.titlebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: var(--primary);
    font-family: var(--title-font);
    font-size: 24px;
    color: var(--text);
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 3rem 2rem;
}

.text {
    font-size: 16px;
    color: var(--text);
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65%;
    padding: 2rem;
    background-color: white;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dataInputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 1rem;
}

.dataInput {
    color: var(--text-darker);
    font-family: var(--font);
    border-radius: 1rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
}

.dataInput:hover {
    background-color: #dddddd87;
}

.forgotPassword {
    margin: 0;
    color: var(--secondary);
    font-weight: 500;
    font-size: 12px;
    font-family: var(--font);
    margin-left: 0.5rem;
    cursor: pointer;
}

.forgotPassword:hover {
    font-weight: 600;
}

.errorMessageContainer {
    height: 1.5em;
    width: 100%;
  }

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--secondary);
    color: var(--primary);
    font-family: var(--font);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button:hover {
    width: 15.5rem;
    height: 3.25rem;
    font-size: 21px;
    font-weight: 600;
}

p {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: var(--primary);
    margin-top: 1rem;
}

.link {
    font-family: var(--font);
    font-size: 12px;
    font-weight: bold;
    color: var(--secondary);
    cursor: pointer;
}

.link:hover {
    font-weight: 800;
  }

.error {
    font-family: var(--font);
    font-size: 12px;
    color: var(--error);
    margin: 0;
}

.back {
    font-family: var(--font);
    font-size: 12px;
    font-weight: bold;
    color: var(--primary);
    cursor: pointer;
}

.back:hover {
    font-weight: 800;
  }

/* Media Query f端r Tablet-Version */
@media (min-width: 550px) {
    .wrapper {
      justify-content: center; 
      align-items: center; 
    }

    .titlebar {
      z-index: 10;
      background-color: var(--text);
      width: 0;
      margin-bottom: 25rem;
      font-size: 40px;
    }

    .textContainer {
        z-index: 10;
        margin-bottom: -2rem;
    }

    .text {
        color: var(--primary);
        font-weight: bold;
    }
  
    .container {
      width: 70%;
      position: absolute;
      height: 75%;
      justify-content: center;
      border-radius: 40px;
      transition: all 1.0s ease;
    }

    .dataInputWrapper {
      width: 80%;
      transition: all 1.0s ease;
    } 
}  

/* Media Query f端r Desktop-Version */
@media (min-width: 750px) {
    .container {
      width: 60%;
      transition: all 1.0s ease;
    }

    .textContainer {
        flex-direction: row;
    }
}


/* Media Query f端r Desktop-Version */
@media (min-width: 1000px) {
    .container {
      width: 50%;
      transition: all 1.0s ease;
    }

    .dataInputWrapper {
      width: 70%;
      transition: all 1.0s ease;
    }
}

/* Media Query f端r Desktop-Version */
@media (min-width: 1200px) {
    .dataInputWrapper {
      width: 60%;
      transition: all 1.0s ease;
    }
}