.thisOrthat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.centerBar {
  background: linear-gradient(var(--primary) 50%, white 50%);
}

.modal {

  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}


@media only screen and (min-width: 767px) {
  .wrapper {
    max-width: 800px;
  }
}
